.grid-container img {
  width: 75;
  height: 75;
}

.linkedin img {
  width: 65;
  height: 65;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-row-gap: 50px;
  align-items: center;
  grid-column-gap: 50px;
}

.envelope, .telephone, .github, .linkedin {
  text-align: right;
}

.link {
  text-align: left;
  font-weight: bold;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}
