.grid-container img {
  width: 75;
  height: 75;
  object-fit: contain;
  float: left;
  margin-left: 38.5%;
  margin-right: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
