{% extends "base.html" %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'about.css' %}">
<div class="about">
<h1 style="text-align: center;">Few words about me:</h1>

<div class="introduction">
    <div class="item1"><img src="{% static 'portret.jpg' %}">
    </div>
    <div class="item2" style="padding: 100px;">I am a diligent and ambitious person, strongly focusing on self-development
    and constantly educating myself. Programming became my hobby during my
    studies, where I got to know its basics, and also started using Linux every day.
    During my internship in Italy I had the opportunity to apply these skills
    to real problems, thanks to which I became a co-creator of the a-ARM protocol
    in the field of computational chemistry. I am also interested in
    machine learning topics, especially pattern recognition.
    </div>
</div>


<h2>Skills</h2>
<div class="skills">

    <div class="item4"><h5>Practical</h5></div>
    <div class="item5"><h5>Basic</h5></div>
    <div class="item6" style="font-size: 22px; ">
        <ul >
            <li>Python (<i>Matplotlib, NumPy, SQLAlchemy</i>)</li>
            <li>Linux (<i>Bash</i>)</li>
            <li>Django, HTML, CSS</li>
            <li>MySQL</li>
            <li>Git, TDD</li>
        </ul>
    </div>

    <div class="item7" style="font-size: 22px;">
        <ul>
            <li>Machine learning (<i>PyTorch, TensorFlow, Scikit-learn</i>)</li>
            <li>Docker, AWS</li>
            <li>JavaScript</li>
            <li>PostgreSQL</li>
        </ul>
    </div>
</div><br>

<h2>Experience</h2>
<div class="experience">

    <div class="item4" style="text-align: right;"><h5>10/2019 – 05/2020</h5></div>
    <div class="item5" style="text-align: justify; text-align: left;"><h5>Research and development internship<br>
        Computational chemistry laboratory<br>
        University of Siena, Italy</h5></div>
    <div class="item2" style="margin-left: 25%; margin-right: 25%; ">
        <ul>
            <li>Internship topic: "Validation of a computational protocol for the automatic search
                of fluorescent mutants in <i>Anabaena</i> Sensory Rhodopsin." </li>
            <li>My main task was to develop and automate some of the tools included in the a-ARM calculation protocol,
                which is based on Python and Bash languages and is adapted to work
                on computing clusters (Linux environment).</li>
            <li>For this purpose I created new scripts related to data processing and visualization,
                performed simple debugging and optimization of the existing code,
                and translated some of it from Bash to Python.</li>
            <li>I had the opportunity to work in an international team as well as individually,
                also remotely, and implement my ideas based on Git (GitLab).</li>
            <li>In addition, scientific publication is being developed that compares the techniques
                I used with the methods of machine learning.</li>
        </ul>
    </div>
    <div class="item8" style="text-align: right;"><h5>10/2017 – 01/2018</h5>
    </div>
    <div class="item9" style="text-align: justify; text-align: left;"><h5>Manual worker<br>
        Profesja Brewery, Wrocław</h5>
    </div>

    <div class="item10" style="text-align: right;"><h5>August 2017</h5>
    </div>
    <div class="item11" style="text-align: justify; text-align: left;"><h5>Practice <br> Wojewódzki Inspektorat Ochrony Środowiska
        w Katowicach, <br> Pracownia Analiz w Częstochowie</h5>
    </div>
</div><br>

<h2>Education</h2>
<div class="education">
    <div class="item8" style="text-align: right;"><h5>02/2018 – 09/2019</h5>
    </div>
    <div class="item9" style="text-align: left;"><h5>Bioinformatics, 2<sup>nd</sup> level studies in English<br>
       Wrocław University of Science and Technology</h5>
    </div>

    <div class="item10" style="text-align: right;"><h5>10/2014 – 01/2018</h5>
    </div>
    <div class="item11" style="text-align: left;"><h5>Biotechnology, 1<sup>st</sup> level studies in Polish<br>
    Wrocław University of Science and Technology</h5>
    </div>
</div><br>

<div class="colsection">
    <div class="item4" style="text-align: center; ">
        <h4><b>Languages:</b></h4>
    </div>
    <div class="item5" style="text-align: center;">
        <h4><b>Competencies:</b></h4>
    </div>
    <div class="item8" style="text-align: center;">
        <h4><b>Hobbies:</b></h4>
    </div>
    <div class="item9" style="text-align: left;">
        <h5>
            <ul>
                <li>English (C1) - fluent</li>
                <li>Italian - intermediate</li>
                <li>Russian - basic</li>
                <li>Spanish - basic</li>
                <li>German (A2) - basic</li>
            </ul>
        </h5>
    </div>

    <div class="item10" style="text-align: left;">
        <h5>
            <ul>
                <li>creativity and innovation</li>
                <li>great work organization</li>
                <li>initiative and high motivation</li>
                <li>communicativeness</li>
                <li>work in a team and individually</li>
            </ul>
        </h5>
    </div>
    <div class="item11" style="text-align: justify; text-align: left;">
        <h5>
            <ul>
                <li>learning languages</li>
                <li>beer brewing</li>
                <li>classic menswear</li>
            </ul>
        </h5>
    </div>
</div>

<h2>Publication</h2>
<div>
<h4 style="text-align: center; font-weight: normal;">Bujok J., Gąsior-Głogowska M., Marszałek M., et al.
    “Applicability of FTIR-ATR Method to Measure Carbonyls in Blood Plasma
    after Physical and Mental Stress”. BioMed Research International,
    vol. 2019, 9 pages.</h4>
</div><br>

<h2>Additional activity</h2>
<div class="activity" >
    <div class="item4" style="text-align: right;"><h5>5/02 - 9/02/2018</h5>
    </div>
    <div class="item5" style="text-align: left;">
        <h5>6<sup>th</sup> WAMMBAT Workshop of Atomistic and Mesoscale
            Modelling in Bio – Applications And
            Technology Biofunctional Materials</h5>
    </div>
    <div class="item8" style="text-align: right;"><h5>2017 - 2018</h5>
    </div>
    <div class="item9" style="text-align: justify; text-align: left;">
        <h5>Member of the Wrocław University of Science and Technology
            Student Scientific Club “OFF-ROAD”,
            involved in project “Scorpio” Mars rover</h5>
    </div>

    <div class="item10" style="text-align: right;"><h5>04/2017 - 11/2017</h5>
    </div>
    <div class="item11" style="text-align: justify; text-align: left;">
        <h5>Project: “Improving the competence of students of the
            Chemical Faculty in response to the needs of the labour market”
            UDA-POWR.03.01.00-00-K088/15</h5>
    </div>
</div>
</div>
{% endblock %}